<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>강의 소식 상세</title>
</head>
<body>

<h1>강의 소식 상세</h1>

<div class="content-container">
    <div class="coursetitle-section" >
        <strong>강의명</strong>
        <div th:text="${courseNotice.courseName}" style="border: 2px solid black; padding: 20px; margin-bottom: 20px;"></div>
    </div>

    <div class="coursenoticetitle-section" style="border: 2px solid black; padding: 20px; margin-bottom: 20px;">
        <strong>소식제목</strong><br>
        <span th:text="${courseNotice.courseNoticeTitle}"></span>
        <form action="/teacher/coursenotice/updatecoursenoticePage" method="post" style="display:inline; margin-left: 10px;">
            <input type="hidden" name="courseNoticeNo" th:value="${courseNotice.courseNoticeNo}">
            <button type="submit">✏️</button>
        </form>
    </div>

    <div class="coursenoticecontent-section" style="border: 2px solid black; padding: 20px;">
        <strong>소식내용</strong><br>
        <span style="white-space: pre-line;" th:text="${courseNotice.courseNoticeDesc}"></span>
        <form action="/teacher/coursenotice/updatecoursenoticePage" method="post" style="display:inline; margin-left: 10px;">
            <input type="hidden" name="courseNoticeNo" th:value="${courseNotice.courseNoticeNo}">
            <button type="submit">✏️</button>
        </form>
    </div>
</div>

<br>
<form action="/teacher/coursenotice" method="get">
    <button type="submit">이전으로</button>
</form>

</body>
</html>