<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>강의 소식 수정</title>
</head>
<body>

<h1>강의 소식 수정 페이지</h1>

<!--강의명은 수정 불가 -->
<div >
    <label>강의명</label><br>
    <span th:text="${courseNotice.courseName}"></span>
</div>
<br>
<form action="/teacher/coursenotice/updatecoursenotice" method="post">

    <input type="hidden" name="courseNoticeNo" th:value="${courseNotice.courseNoticeNo}">

    <label>소식 제목</label><br>
    <input type="text" name="courseNoticeTitle" th:value="${courseNotice.courseNoticeTitle}" required><br><br>

    <label>소식 내용</label><br>
    <textarea rows="10" cols="50" name="courseNoticeDesc" th:text="${courseNotice.courseNoticeDesc}" required></textarea><br><br>

    <button type="submit">수정하기</button>
</form>

<form action="/teacher/coursenotice/detail" method="post" style="display:inline;">
    <input type="hidden" name="courseNoticeNo" th:value="${courseNotice.courseNoticeNo}">
    <button type="submit">이전으로</button>
</form>

</body>
</html>