<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="field">

    <a href="/teacher/notice">
        <button type="button" class="entity" id="notice">
            <div class="entity-label">공지 사항</div>
        </button>
    </a>

    <a href="/teacher/register">
        <button type="button" class="entity" id="register">
            <div class="entity-label">강의 등록</div>
        </button>
    </a>

    <a href="/teacher/coursenotice">
        <button type="button" class="entity" id="teachernotice">
            <div class="entity-label">강의 소식</div>
        </button>
    </a>

    <a href="/teacher/course">
        <button type="button" class="entity" id="course">
            <div class="entity-label">강의 목록</div>
        </button>
    </a>

    <a href="/teacher/mypage">
        <button type="button" class="entity" id="mypage">
            <div class="entity-label">마이페이지</div>
        </button>
    </a>

    <a href="/npc">
        <button type="button" class="entity" id="npc">
            <div class="entity-label">npc</div>
        </button>
    </a>

    <form action="/logout" method="post" style="display:inline;">
        <button type="submit" class="entity" id="logout">
            <div class="entity-label">로그아웃</div>
        </button>
    </form>

    <div id="character">🧙‍♂️</div>
</div>
</body>
</html>