<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>강의 수정</title>
</head>
<body>

<h1>강의 수정 페이지</h1>

<form action="/teacher/course/updatecourse" method="post">

    <input type="hidden" name="courseId" th:value="${course.courseId}">

    <label>강의 제목</label><br>
    <input type="text" name="courseTitle" th:value="${course.courseTitle}" required><br><br>

    <label>강의 설명</label><br>
    <textarea rows="10" cols="50" name="courseDescription" th:text="${course.courseDescription}" required></textarea><br><br>


    <button type="submit">수정하기</button>
</form>

<form action="/teacher/course/update" method="post" style="display:inline; margin-left: 10px;">
    <input type="hidden" name="courseId" th:value="${course.courseId}">
    <button type="submit">이전으로</button>
</form>

</body>
</html>