<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>퀴즈 생성</title>
</head>
<body>
<button type="button" onclick="location.href='/teacher/quiz/find-quiz-by-chap'" style="margin-bottom: 20px; padding: 10px; cursor: pointer;">
    ⬅ 생성 취소하고 돌아가기
</button>
<h2>퀴즈 생성</h2>
<div th:if="${message}" th:text="${message}" style="color: blue; margin-bottom: 15px;"></div>

<form action="/teacher/chapter/create-quiz" method="post">
    <label>챕터 번호 :</label>
    <input type="number" name="chapNo" th:value="${chapNo}" readonly required><br><br>

    <label>퀴즈 제목 :</label>
    <input type="text" name="quizTitle" required><br><br>

    <button type="submit">퀴즈 생성 완료</button>
</form>
</body>
</html>